* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #111;
}

.container {
  display: flex;
  width: 520px;
  height: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 220px auto;
  border: 2px solid rgb(224, 224, 0);
  border-radius: 20px;
  background-color: rgb(224, 224, 0);
}

.container h2 {
  color: white;
  font-size: 2.7rem;
  padding: 20px 30px;
}

.degree-box-container input {
  width: 100%;
  padding: 20px 50px 20px 10px;
  margin: 20px 0 40px 0;
  font-size: 1.2rem;
  border: 2px solid #111;
  border-radius: 10px;
}

textarea {
  width: 400px;
  height: 150px;
  resize: none;
  border: none;
  margin-bottom: 20px;
}

button {
  padding: 20px;
  color: rgb(224, 224, 0);
  font-size: 1.4rem;
  background: white;
  margin-bottom: 40px;
  border-radius: 7px;
  font-weight: 700;
  cursor: pointer;
  border: 2px solid white;
}

button:hover {
  color: white;
  background: rgb(224, 224, 0);
}

.final-result {
  color: white;
  font-size: 2rem;
  padding-bottom: 20px;
  text-align: center;
}
