body{
    margin:0;
    padding:0;
    background: #800080;
background: linear-gradient(90deg, rgba(128, 0, 128, 1) 0%, rgba(75, 0, 130, 1) 100%, rgba(230, 230, 250, 1) 100%);
}

.container{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:white;
    display:flex;
    width:100vw;
    height:100vh;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
}

#wrapper{
    border: 3px solid white;
    padding:1rem;
}

.container span{
    margin-left:10px;
}

#ampm{
    font-size:3rem;
    align-items: end;
}